/* color palette source:
https://colorhunt.co/palette/94b49fcee5d0fcf8e8ecb390
https://colorhunt.co/palette/ad8b73ceab93e3caa5fffbe9
https://colorhunt.co/palette/7c9473cfdac8e8eae6cdd0cb */

body {
  background: #fcf8e8;
  font-family: verdana;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 40px auto;
}

h1 {
  color: #ad8b73;
  font-weight: normal;
  text-align: center;
  font-size: 48px;
}

.panels {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.panels li {
  position: relative;
  width: 20%;
  margin: 0;
  display: block;
  box-sizing: border-box;
}

.panels li div {
  width: 100%;
  padding: 50% 0;
  text-align: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 0;
  cursor: pointer;
}

/* flip a card styles */
.panels div.back {
  transform: rotateY(90deg);
}

.panels div.front {
  position: absolute;
}

.panels li:hover div.front {
  animation: twirl 0.2s ease-in forwards;
}

.panels li:hover div.back {
  animation: twirl 0.2s 0.2s ease-out forwards reverse;
}

@keyframes twirl {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
